<form action="/admin" method="post">
    <h1>Weekly Schedule</h1>

    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th>Waiter Name</th>
            </tr>
        </thead>
        <tbody id="schedule">
            <tr>
                <td>Monday</td>
                <td id="mondayWaiter" class="{{color.[0]}}">{{#if name.mondayWaiter}}{{#each name.mondayWaiter}} <li>{{this.name}}</li> {{/each}}{{else}}No Waiter Assigned{{/if}}</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td id="tuesdayWaiter" class="{{color.[1]}}">{{#if name.tuesdayWaiter}}{{#each name.tuesdayWaiter}} <li>{{this.name}}</li> {{/each}}{{else}}No Waiter Assigned{{/if}}</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td id="wednesdayWaiter" class="{{color.[2]}}">{{#if name.wednesdayWaiter}}{{#each name.wednesdayWaiter}} <li>{{this.name}}</li> {{/each}}{{else}}No Waiter Assigned{{/if}}</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td id="thursdayWaiter" class="{{color.[3]}}">{{#if name.thursdayWaiter}}{{#each name.thursdayWaiter}} <li>{{this.name}}</li> {{/each}}{{else}}No Waiter Assigned{{/if}}</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td id="fridayWaiter" class="{{color.[4]}}">{{#if name.fridayWaiter}}{{#each name.fridayWaiter}} <li>{{this.name}}</li> {{/each}}{{else}}No Waiter Assigned{{/if}}</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td id="sartudayWaiter" class="{{color.[5]}}">{{#if name.sartudayWaiter}}{{#each name.sartudayWaiter}} <li>{{this.name}}</li> {{/each}}{{else}}No Waiter Assigned{{/if}}</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td id="sundayWaiter" class="{{color.[6]}}">{{#if name.sundayWaiter}}{{#each name.sundayWaiter}} <li>{{this.name}}</li> {{/each}}{{else}}No Waiter Assigned{{/if}}</td>
            </tr>
        </tbody>
    </table>
</form>

<p id="clearSuccess">{{clearSuccess}}</p>
{{!-- insert waiter names here and view the days each of them are working --}}

<form class="clearForm" action="/admin" method="POST"  onsubmit="return confirm('Are you sure you want to clear the data?');">
      <button type="submit" class="clear">Clear</button>
</form>

<form action="/" method="get">
        <button id="logout">Logout</button>
</form>
