<form action="/admin" method="post">
<h1>This is the admin side</h1>
    <h1>Weekly Schedule</h1>

    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th>Waiter Name</th>
            </tr>
        </thead>
        <tbody id="schedule">
            <tr>
                <td>Monday</td>
                <td id="monday">{{#if mondayWaiter}}{{mondayWaiter}}{{else}}No Waiter Assigned{{/if}}</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td id="tuesday">{{#if tuesdayWaiter}}{{tuesdayWaiter}}{{else}}No Waiter Assigned{{/if}}</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td id="wednesday">{{#if wednesdayWaiter}}{{wednesdayWaiter}}{{else}}No Waiter Assigned{{/if}}</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td id="thursday">{{#if thursdayWaiter}}{{thursdayWaiter}}{{else}}No Waiter Assigned{{/if}}</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td id="friday">{{#if fridayWaiter}}{{fridayWaiter}}{{else}}No Waiter Assigned{{/if}}</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td id="saturday">{{#if saturdayWaiter}}{{saturdayWaiter}}{{else}}No Waiter Assigned{{/if}}</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td id="sunday">{{#if sundayWaiter}}{{sundayWaiter}}{{else}}No Waiter Assigned{{/if}}</td>
            </tr>
        </tbody>
    </table>
</form>
