<form action="/admin" method="post">
    <h1>Weekly Schedule</h1>

    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th>Waiter Name</th>
            </tr>
        </thead>
        <tbody id="schedule">
            <tr>
                <td>Monday</td>
                <td id="monday">{{#if name.mondayWaiter}}{{#each name.mondayWaiter}}-{{this.name}}{{/each}}{{else}}No Waiter Assigned{{/if}}</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td id="tuesday">{{#if name.tuesdayWaiter}}{{#each name.tuesdayWaiter}}-{{this.name}}{{/each}}{{else}}No Waiter Assigned{{/if}}</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td id="wednesday">{{#if name.wednesdayWaiter}}{{#each name.wednesdayWaiter}}-{{this.name}}{{/each}}{{else}}No Waiter Assigned{{/if}}</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td id="thursday">{{#if name.thursdayWaiter}}{{#each name.thursdayWaiter}}-{{this.name}}{{/each}}{{else}}No Waiter Assigned{{/if}}</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td id="friday">{{#if name.fridayWaiter}}{{#each name.fridayWaiter}}-{{this.name}}{{/each}}{{else}}No Waiter Assigned{{/if}}</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td id="saturday">{{#if name.saturdayWaiter}}{{#each name.saturdayWaiter}}-{{this.name}}{{/each}}{{else}}No Waiter Assigned{{/if}}</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td id="sunday">{{#if name.sundayWaiter}}{{#each name.sundayWaiter}}-{{this.name}}{{/each}}{{else}}No Waiter Assigned{{/if}}</td>
            </tr>
        </tbody>
    </table>
</form>
